streamlit==1.38.0
langgraph==0.2.39
langchain==0.3.7
langchain-core==0.3.15
langchain-groq==0.3.8
langchain-community==0.3.5
groq==0.11.0
fastembed==0.3.6
python-dotenv==1.0.1
sqlalchemy==2.0.35
faiss-cpu==1.9.0
pypdf2==3.0.1
apscheduler==3.10.4
plotly==5.24.1
bcrypt==4.2.0
pydantic==2.9.2
pandas==2.2.3
numpy==1.26.4
